header{
  text-align: center;
  background-color: blue;
  color: white;
  font-size:  3em;

}

hr{
  width: 24rem;
  height: 1rem;
  background-color: aqua;
}

.text-center{
  text-align: center;
}

.paragraph-fix{
  margin-inline-start: 30em;
  margin-inline-end: 30em;
}

.img-article{
  float: right;
  margin-top: -20em;
  height: 160px;
  margin-inline-end: 4em;
}

footer{
  background-color: blue;
  height: 6em;
}